{% extends 'base.html.twig' %}

{% block title %} Connectez vous!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link  href="https://bootswatch.com/5/pulse/bootstrap.min.css" rel="stylesheet">





<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/lepine">Home(connexion)
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newuser">créer utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/table">supprimer utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>







<div class="example-wrapper">
    <h1>Connectez vous! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/etudrt/FServAlexisLC/src/Controller/LEPINECHEVALIERController.php'|file_link(0) }}">src/Controller/LEPINECHEVALIERController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/etudrt/FServAlexisLC/templates/lepinechevalier/index.html.twig'|file_link(0) }}">templates/lepinechevalier/index.html.twig</a></code></li>
    </ul>

<form method="post" action="/login">
   <p>
      <div class="form-group"> 
       <label for="pseudo">Votre login :</label>
       <input type="text" class="form-control" name="pseudo" id="pseudo" />
       
      <div class="form-group">
       <label for="pass">Votre mot de passe :</label>
       <input type="password" class="form-control" name="pass" id="pass" />
       
   </p>
   <button type="submit" class="btn btn-outline-primary">Envoyer</button>
</form>

</div>

{% endblock %}

